# Indica que este é o arquivo principal para configuração
root = true

[*.cs]
# Espaços e indentação
indent_style = space
indent_size = 2  # Dois espaços, como no Prettier para JS
tab_width = 2
trim_trailing_whitespace = true
insert_final_newline = true

# Estilo de chaves
csharp_new_line_before_open_brace = none  # Chaves na mesma linha
csharp_new_line_before_else = false       # else na mesma linha da chave anterior
csharp_new_line_before_catch = false      # catch na mesma linha da chave anterior
csharp_new_line_before_finally = false    # finally na mesma linha da chave anterior

# Espaçamento em expressões
csharp_space_before_open_square_brackets = false  # Sem espaço antes de colchetes
csharp_space_between_empty_square_brackets = false
csharp_space_before_open_parentheses = false      # Sem espaço antes de parênteses
csharp_space_after_cast = true                    # Espaço após cast (ex: (int) valor)

# Outros estilos
csharp_preserve_single_line_statements = true    # Permitir declarações de uma linha
csharp_space_after_keywords_in_control_flow_statements = true  # Espaço após `if`, `for`
